{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kid Info {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.png' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static '/assets/css/nucleo-icons.css' %}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="{% static '/assets/css/argon-design-system.min.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}

{% endblock %}
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>

<!-- Argon JS -->
<script src="{% static '/assets/js/argon-design-system.js' %}"></script>
</body>
</html>