{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <body class="login-page">
    <!-- Navbar -->
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="{% url 'home-page' %}">
                <img src="{% static 'dashboard/img/kidinfo.png' %}">
            </a>
        </div>
    </nav>
    <!-- End Navbar -->
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-7">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Zapomniałeś hasła?</small>
                            </div>
                            {% if text %}
                                <div class="alert alert-danger" role="alert">
                                    {{ text }}
                                </div>
                            {% endif %}
                            {% if form.pass_hash %}
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endfor %}
                                <form method="post" action="{% url 'password-reset' pass_hash=form.pass_hash.value %}">
                                    {% csrf_token %}
                                    {{ form.pass_hash }}
                                    <div class="form-group focused">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                    <div class="form-group focused">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Zmień</button>
                                    </div>

                                </form>
                            {% else %}
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    Podaj email
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Wyślij</button>
                                    </div>

                                </form>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="{% url 'login-page' %}" class="text-light"><small>Logowanie</small></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{% url 'register-institution' %}" class="text-light"><small>Rejestracja</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}