{% extends 'dashboard/base_dashboard.html' %}
{% block title %}- Dzieci{% endblock %}

{% block content %}
    <main class="app-content">
        <div class="row justify-content-center">
            <div class="card col-4 mt-4">
                {% if msg %}
                <div class="alert alert-success mt-1" role="alert">
                    {{ msg }}
                </div>
            {% endif %}
                <div class="card-title text-center">
                    <h3>Dodaj dziecko</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">Imię:</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nazwisko:</label>
                        {{ form.last_name }}
                    </div>

                    <button class="btn btn-success col-12">Dodaj</button>
                </form>
            </div>
        </div>
    </main>


{% endblock %}