{% load static %}
<header class="app-header">
    <div href="#" class="app-header__logo">
        <img class="img-fluid mt-2" src="{% static 'dashboard//img/kidinfo.png' %}">
    </div>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar">
        <span class="fa fa-bars"></span></a>
    </a>
    <ul class="app-nav">
        <li class="dropdown">
            <a class="app-nav__item user_info" href="#" data-toggle="dropdown" aria-label="Open Menu">
                <div class="user_info__name">
                    <div class="user_info__circle">
                        <i class="fa fa-user fa-lg text-white"></i>
                    </div>
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                </div>
            </a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li>
                    <a class="dropdown-item" href="">
                        <i class="fa fa-user"></i>
                        Zmiana hasła
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout-page' %}">
                        <i class="fa fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>