<aside class="app-sidebar">
    <ul class="app-menu">
        {% if request.user.user_type == 1 %}
            <a href="{% url 'dashboard-home' %}">
                <li class="app-menu__item"><i class="fa fa-home mr-2"></i>Home</li>
            </a>
            <a href="{% url 'dashboard-kids' %}">
                <li class="app-menu__item"><i class="fa fa-child mr-2"></i>Moje Dziecko</li>
            </a>
            <a href="{% url 'kids-presence' %}">
                <li class="app-menu__item"><i class="fa fa-calendar mr-2"></i>Obecność</li>
            </a>
        {% else %}
            <a href="{% url 'dashboard-home' %}">
                <li class="app-menu__item"><i class="fa fa-home mr-2"></i>Home</li>
            </a>
            <a href="{% url 'dashboard-kids' %}">
                <li class="app-menu__item"><i class="fa fa-child mr-2"></i>Dzieci</li>
            </a>
            <a href="{% url 'kids-presence' %}">
                <li class="app-menu__item"><i class="fa fa-calendar mr-2"></i>Lista obecności</li>
            </a>
            <li class="app-menu__item"><a href=""></a><i class="fa fa-comments mr-2"></i>Wiadomości do rodziców</li>
        {% endif %}


    </ul>
</aside>